<h1> 产品预览 </h1>
<body>
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
      <div class="col-md-4 col-sm-6">
        <div class="preview-panel">
          <div>
            <img src="<%= product.image.thumb %>">
            <br>
            产品：
            <%= link_to(product.title, product_path(product)) %>
            <br>
            细节：
            <%= product.description %>
            <br>
            价格：
            <%= product.price %>
          </div>
        </div>
      </div>


      <% end %>

  </div>
</body>
